<div id="cms" class="tab-content">
  <section class="section--content cms card-outline">
    <!-- <h2>Website CMS</h2> -->
    <div class="feature-row">
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-paint-bucket.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="theme">Customizable themes</h3>
          <p>Easy-to-use drag-and-drop responsive layouts with color theme selectors</p>
          <!-- <img src="{{ site.baseurl }}img/fi-paint-bucket.svg" alt=""> -->
        </div>
      </div>
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-marker.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="location">Location &#38; Hours</h3>
          <p>With optional Google Places integration, branching and maps</p>
          <!-- <img src="{{ site.baseurl }}img/fi-marker.svg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="feature-row">
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-calendar.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="events">Events Management</h3>
          <p>Manage all your events and program listings with online registration</p>
          <!-- <img src="{{ site.baseurl }}img/fi-calendar.svg" alt=""> -->
        </div>
      </div>
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-share.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="social">Social Media</h3>
          <p>Easy integration with all your favorite social media throughout your web content</p>
          <!-- <img src="{{ site.baseurl }}img/fi-share.svg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="feature-row">
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-clock.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="history">This Day in History</h3>
          <p>Customizable database for historical events that can be paired with relevant library resources via ILS integration</p>
          <!-- <img src="{{ site.baseurl }}img/fi-clock.svg" alt=""> -->
        </div>
      </div>
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-mail.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="news">Newsletter Integration</h3>
          <p>Themed signup widget for MailChimp and Industry Mailout</p>
          <!-- <img src="{{ site.baseurl }}img/fi-mail.svg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="feature-row">
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-book.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="book-list">Visual Books Lists</h3>
          <p>Scrolling book jackets linked to catalog listings, place holds and populate lists with ILS integration</p>
          <!-- <img src="{{ site.baseurl }}img/fi-book.svg" alt=""> -->
        </div>
      </div>
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-clipboard-pencil.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="forms">Webforms</h3>
          <p>Create surveys and polls easily, manage the results</p>
          <!-- <img src="{{ site.baseurl }}img/fi-clipboard-pencil.svg" alt=""> -->
        </div>
      </div>
    </div>

    <div class="feature-row">
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-page.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="static">Static Content</h3>
          <p>Create brilliant responsive content with easy multi-media support and full WYSIWYGs</p>
          <!-- <img src="{{ site.baseurl }}img/fi-page.svg" alt=""> -->
        </div>
      </div>
      <div class="feature-card">
        <div class="icon-col">
          <img src="{{ site.baseurl }}img/fi-page-search.svg" alt="">
        </div>
        <div class="feature-desc">
          <h3 class="dynamic">Dynamic Views</h3>
          <p>Configurable aggregate views of multiple content types with drag and drop layouts</p>
          <!-- <img src="{{ site.baseurl }}img/fi-page-search.svg" alt=""> -->
        </div>
      </div>
    </div>
  </section>
</div> <!-- .cms -->