<section class="section--content">
  <div id="portal" class="tab-content card-outline">
    <!-- <h2>Database Portal</h2> -->
    <h3>Access</h3>
    <p>Patrons can access all your databases in the same interface they search your physical and digital catalogues. Seamless single sign-on means direct access to all their favorite resources using EZproxy.</p>
    <!-- <p>Let's show a few DB icons: (westlocklibrary.ca uses TRAC test user and their EZProxy links)</p> -->

    <p class="col-3">
      <img src="{{ site.baseurl }}img/ebsco-host-logo.png" alt="Ebsco Host logo">
      <img src="{{ site.baseurl }}img/zinio-logo.png" alt="Zinio logo">
      <img src="{{ site.baseurl }}img/tumblebook-logo.png" alt="TumbleBook logo">
    </p>
  </div>
</section>