<div id="disc" class="tab-content">
  <section class="section--content">
    <div class="feature--group">
      <h3>Robust faceted search of your physical and digital resource catalogs</h3>
      <div class="img--group">
        <img src="{{ site.baseurl }}img/eds.jpg" alt="EBSCO Discovery Service logo">
        <img src="{{ site.baseurl }}img/sirsi-logo.jpg" alt="Sirsi logo">
        <img src="{{ site.baseurl }}img/polaris-logo.png" alt="Polaris logo">
      </div>
      <p>Read Online, Download Resources or Request Items via your ILS</p>
    </div>
    <div class="feature--group">
      <h3>Integrated ILS Details with Reviews &#38; Recommendations</h3>
      <div class="img--group">
        <img src="{{ site.baseurl }}img/baker-taylor-logo.jpg" alt="Baker Taylor logo">
        <img src="{{ site.baseurl }}img/chilifresh-logo.jpg" alt="Chilifresh logo">
        <img src="{{ site.baseurl }}img/novelist-logo.jpg" alt="Novelist Select logo">
      </div>
      <p>Reviews, Similar Titles, Similar Authors Similar Series</p>
    </div>
    <div class="feature--group">
      <h3>Book Jackets</h3>
      <div class="img--group">
        <img src="{{ site.baseurl }}img/bowker-logo.jpg" alt="Bowker Syndetics logo">
        <img src="{{ site.baseurl }}img/content-cafe.jpg" alt="Content Cafe logo">
      </div>
      <p>Load subscription jackets or use themed icons</p>
    </div>
    <div class="feature--group">
      <h3>Social Media</h3>
      <div class="img--group">
        <img src="{{ site.baseurl }}img/goodreads-logo.jpg" alt="Goodreads logo">
        <img src="{{ site.baseurl }}img/facebook.png" alt="Facebook logo">
        <img src="{{ site.baseurl }}img/twitter.png" alt="Twitter logo">
        <img src="{{ site.baseurl }}img/google.png" alt="Google+ logo">
      </div>
      <p>Share and connect via Goodreads, Facebook, Twitter &#38; Google+</p>
    </div>
  </section>
</div>