<div id="disc" class="tab-content">
  <section class="section--content card-outline">
    <!-- <h2>Discovery</h2> -->
    <div class="feature--group">
      <h3>Robust faceted search of your physical and digital resource catalogs</h3>
      <p>Read Online, Download Resources or Place Holds in your ILS</p>
      <p class="col-3">
        <img src="{{ site.baseurl }}img/eds.png" alt="EBSCO Discovery Service logo">
        <img src="{{ site.baseurl }}img/polaris-logo.png" alt="Polaris logo">
        <img src="{{ site.baseurl }}img/sirsi-logo.png" alt="Sirsi logo">
      </p>
    </div>
    <div class="feature--group">
      <h3>Integrated ILS Details with Reviews &#38; Recommendations</h3>
      <p>Reviews, Similar Titles, Similar Authors Similar Series</p>
      <p class="col-3">
        <img src="{{ site.baseurl }}img/baker.png" alt="Baker Taylor logo">
        <img src="{{ site.baseurl }}img/chilifresh-logo.png" alt="Chilifresh logo">
        <img src="{{ site.baseurl }}img/novelist-logo.png" alt="Novelist Select logo">
      </p>
    </div>
    <div class="feature--group">
      <div class="feature-row">
        <div class="feature-card">
          <h3>Book Jackets</h3>
          <p>Load subscription jackets or use themed icons</p>
          <p><img src="{{ site.baseurl }}img/bowker-syndetics-logo.jpg" alt="Bowker Syndetics logo"></p>
          <p><img src="{{ site.baseurl }}img/content-cafe.png" alt="Content Cafe logo"></p>
        </div>
        <div class="feature-card">
          <h3>Social Media</h3>
          <p>Share and connect via Goodreads, Facebook, Twitter &#38; Google+</p>
          <p><img src="{{ site.baseurl }}img/goodreads-logo.png" alt="Goodreads logo"></p>
          <p class="col-3">
            <img src="{{ site.baseurl }}img/facebook-logo.svg" alt="Facebook logo">
            <img src="{{ site.baseurl }}img/twitter-logo.svg" alt="Twitter logo">
            <img src="{{ site.baseurl }}img/google-plus-logo.svg" alt="Google+ logo">
          </p>
        </div>
      </div>
    </div>
  </section>
</div>