    <div id="disc" class="tab-content">

      <!-- <h2>Discovery</h2> -->

      <h3>Robust faceted search of your physical and digital resource catalogs</h3>
      <ul>
        <li>Read Online, Download Resources or Place Holds in your ILS</li>
        <!-- <li>EDS Logo | Polaris Logo | Sirsi Logo</li> -->
      </ul>
      <img src="{{ site.baseurl }}img/eds-logo.png" alt="EBSCO Discovery Service logo">
      <div class="feature-row">
        <div class="feature-card">
          <img src="{{ site.baseurl }}img/polaris-logo.png" alt="Polaris logo">
        </div>
        <div class="feature-card">
          <img src="{{ site.baseurl }}img/sirsi-logo.png" alt="Sirsi logo">
        </div>
      </div>

      <h3>Integrated ILS Details with Reviews &#38; Recommendations</h3>
      <ul>
        <li>Reviews, Similar Titles, Similar Authors Similar Series</li>
        <!-- <li>Baker &#38; Taylor Logo | Chilifresh Logo | EBSCO Novelist Select Logo</li> -->
      </ul>
      <div class="feature-row">
        <div class="feature-card">
          <img src="{{ site.baseurl }}img/baker-taylor-logo.png" alt="Baker Taylor logo">
        </div>
        <div class="feature-card">
          <img src="{{ site.baseurl }}img/chilifresh-logo.png" alt="Chilifresh logo">
        </div>
      </div>
      <div class="feature-row">
        <div class="feature-card">
          <img src="{{ site.baseurl }}img/novelist-logo.png" alt="Novelist Select logo">
        </div>
      </div>

      <div class="feature-row">
        <div class="feature-card">
          <h3>Book Jackets</h3>
          <!-- <ul>
            <li>Load subscription jackets or use themed icons</li>
            <li>Bowker Syndetics Logo | Content Cafe Logo</li>
          </ul> -->
          <img src="{{ site.baseurl }}img/bowker-syndetics-logo.jpg" alt="Bowker Syndetics logo">
          <img src="{{ site.baseurl }}img/content-cafe-logo.png" alt="Content Cafe logo">
        </div>

        <div class="feature-card">
          <h3>Social Media</h3>
          <p>Share and connect via Goodreads, Facebook, Twitter &#38; Google+</p>
          <div class="feature-row">
            <div class="feature-card">
              <img src="{{ site.baseurl }}img/goodreads-logo.png" alt="Goodreads logo">
            </div>
            <div class="feature-card">
              <img src="{{ site.baseurl }}img/facebook-logo.svg" alt="Facebook logo">
            </div>
          </div>
          <div class="feature-row">
            <div class="feature-card">
              <img src="{{ site.baseurl }}img/twitter-logo.svg" alt="Twitter logo">
            </div>
            <div class="feature-card">
              <img src="{{ site.baseurl }}img/google-plus-logo.svg" alt="Google+ logo">
            </div>
          </div>
        </div>
      </div>
    </div>
