<div id="ils" class="tab-content">
  <section class="section--content card-outline">
    <!-- <h2>ILS Integration</h2> -->

    <h3>Single Sign On</h3>
    <p>Patron authentication works with Polaris ILS, SirsiDynix Symphony, SirsiDynix Horizon and EZproxy for optimal user experience</p>
    <!-- <p>Version specific Logos for Sirsi products + Polaris Logo. EZProxy</p> -->



    <div class="feature-row">
      <div class="feature-card">
        <p><img src="{{ site.baseurl }}img/innovate.png" alt="Innovate Polaris logo"></p>
      </div>
      <div class="feature-card">
        <p><img src="{{ site.baseurl }}img/ezproxy-logo.png" alt="EZproxy logo"></p>
      </div>
    </div>
    <div class="feature-row">
      <div class="feature-card">
        <p><img src="{{ site.baseurl }}img/sirsidynix-logo.svg" alt="SirsiDynix logo"></p>
      </div>
      <div class="feature-card">
        <p><img src="{{ site.baseurl }}img/polaris-logo.png" alt="Polaris logo"></p>
      </div>
    </div>



<!--
    <div class="feature-row">
      <div class="feature-card">
        <img src="{{ site.baseurl }}img/sirsidynix-logo.svg" alt="SirsiDynix logo">
      </div>
      <div class="feature-card">
        <img src="{{ site.baseurl }}img/innovate-polaris-logo.png" alt="Innovate Polaris logo">
      </div>
    </div>
    <div class="feature-row">
      <div class="feature-card">
        <img src="{{ site.baseurl }}img/ezproxy-logo.png" alt="EZproxy logo">
      </div>
    </div>
    <hr>
-->

    <h3>My Account</h3>
    <p>Patrons can view fines, view items out, renew items out, view hold requests, cancel hold requests and manage their Wishlist</p>
    <!-- <p>Maybe use Stacks icons for these things instead of logos to keep the format consistent</p> -->
    <!-- <img src="{{ site.baseurl }}img/stacks-logo.png" alt="stacks logo"> -->
  </section>
</div>