<div id="ils" class="tab-content">
  <section class="section--content card-outline">
    <h3>Single Sign On</h3>
    <p>Patron authentication works with Polaris ILS, SirsiDynix Symphony, SirsiDynix Horizon and EZproxy for optimal user experience</p>
    <div class="img--group">
      <img src="{{ site.baseurl }}img/innovate.jpg" alt="Innovate Polaris logo">
      <img src="{{ site.baseurl }}img/ezproxy-logo.png" alt="EZproxy logo">
      <img src="{{ site.baseurl }}img/sirsi-logo.png" alt="SirsiDynix logo">
      <img src="{{ site.baseurl }}img/polaris-logo.png" alt="Polaris logo">
    </div>

    <h3>My Account</h3>
    <p>Patrons can view fines, view items out, renew items out, view hold requests, cancel hold requests and manage their Wishlist</p>
  </section>
</div>