<footer>
  <!-- <h2>works with / integration</h2> -->
  <ul>
    <li><img src="{{ site.baseurl }}img/polaris.png" alt="polaris logo"></li>
    <li><img src="{{ site.baseurl }}img/ebsco.png" alt="EBSCO logo"></li>
<!--
    <li><img src="{{ site.baseurl }}img/novelist.png" alt="novelist logo"></li>
    <li><img src="{{ site.baseurl }}img/baker-tylor.png" alt="baker-tylor logo"></li>
-->
    <li><img src="{{ site.baseurl }}img/sirsi.png" alt="sirsi logo"></li>
<!-- <li><img src="{{ site.baseurl }}img/bowker.png" alt="bowker logo"></li> -->
  </ul>
</footer>