<div class="row">
  <h2>works with / integration</h2>
  <div class="columns small-2"><img src="{{ site.baseurl }}/img/ebsco.png" alt="EBSCO logo"></div>
  <div class="columns small-2"><img src="{{ site.baseurl }}/img/polaris.png" alt="polaris logo"></div>
  <div class="columns small-2"><img src="{{ site.baseurl }}/img/novelist.png" alt="novelist logo"></div>
  <div class="columns small-2"><img src="{{ site.baseurl }}/img/baker-tylor.png" alt="baker-tylor logo"></div>
  <div class="columns small-2"><img src="{{ site.baseurl }}/img/sirsi.png" alt="sirsi logo"></div>
  <div class="columns small-2"><img src="{{ site.baseurl }}/img/bowker.png" alt="bowker logo"></div>
</div>