<!--
****
  this is the original markup for page quarters
****

<section id="responsive" class="tab-content selected">
  <div class="page--quarter__top video--frame">
    <div class="section--content full--width">
      <video width="100%" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="page--quarter__bottom">
    <div class="section--content card-outline">
      <p>Experience your library anywhere, on any device!</p>
      <p class="image"><img src="{{ site.baseurl }}img/stacks-responsive.png" alt="responsive design"></p>
    </div>
  </div>
</section>

-->

<section id="responsive" class="tab-content selected">
  <div class="section--content card-outline">
    <p>Experience your library anywhere, on any device!</p>
    <p class="image"><img src="{{ site.baseurl }}img/stacks-responsive.png" alt="responsive design"></p>

    {% include price-table.html %}
  </div>
</section>