<section id="responsive" class="tab-content selected">
  <div class="page--quarter__top video--frame">
    <div class="section--content full--width">
      <video width="100%" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="page--quarter__bottom">
    <div class="section--content card-outline">
      <!-- <h2>Responsive</h2> -->
      <p>Experience your library anywhere, on any device!</p>
      <p class="image"><img src="{{ site.baseurl }}img/stacks-responsive.png" alt="responsive design"></p>
      <!-- <p>Visually showcase desktop, tablet, phone.</p> -->
    </div>
  </div>
</section> <!-- #responsive -->