// breakpoints
$S:     480px;
$M:     768px;
$L:     1170px;

// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
   @media (min-width: $S) { @content; }
  }
  @else if $canvas == SO {
   @media (max-width: $M) { @content; }
  }
  @else if $canvas == M {
   @media (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media (min-width: $L) { @content; }
  }
}