body {
  background: $white;
  margin: $body-padding/2;

  @include MQ(M) {
    height: calc(100vh - #{$body-padding * 2});
    width: calc(100vw - #{$body-padding * 2});
    margin: $body-padding;
  }
}

.page--full {
  background: $body-color;

  @include MQ(M) {
    padding: initial;
    width: calc(100vw - #{$body-padding * 2});
    height: calc(100vh - #{$body-padding * 2});
    // box-shadow: 0 0 1em rgba($black, .15);
  }
}

.page--half {
  padding-right: $body-padding/2;
  padding-left: $body-padding/2;

  &:nth-of-type(1) {
    background: $color-1;
  }

  @include MQ(M) {
    width: calc(50% - #{$body-padding});
    display: block;
    float: left;
    height: calc(100vh - #{$body-padding * 2});
    position: relative;
  }
}

.section--content {
  padding: ($body-padding/2) 0;
  border: 1px solid $border-color;

  @include MQ(M) {
    padding: initial;
    @include center;

    &.full--width {
      width: calc(100% - #{$body-padding * 2});
    }
  }
}

@include MQ(M) {
  %quarter {
    height: calc(50vh - #{$body-padding});
    position: relative;
    width: 100%;
  }

  .page--quarter__top {
    border-bottom: 1px solid $border-color;
  }

  .page--quarter__top,
  .page--quarter__bottom {
    @extend %quarter !optional;
  }
}
