body {
  background: $white;
  margin: $body-padding/2;

  @include MQ(M) {
    height: calc(100vh - #{$body-padding * 2});
    width: calc(100vw - #{$body-padding * 2});
    margin: $body-padding;
  }
}

.page--full {
  background: $body-color;

  @include MQ(M) {
    padding: initial;
    width: calc(100vw - #{$body-padding * 2});
    height: calc(100vh - #{$body-padding * 2});
    // box-shadow: 0 0 1em rgba($black, .15);
  }
}

.page--half {

  &:nth-of-type(1) {
    background: $color-1;
    color: $color-2;
  }

  @include MQ(M) {
    width: 50%;
    // width: calc(50% - #{$body-padding});
    display: block;
    float: left;
    height: calc(100vh - #{$body-padding * 2});
    position: relative;
    // overflow-y: hidden;
    overflow-y: scroll;
  }

  &.public {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      background: linear-gradient(rgba($main-color, .8), rgba($main-color, .8)), url($bg-1) no-repeat;
      background-size: cover;
      opacity: .5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
  }

  &.academic {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      background: linear-gradient(rgba($clr-2, .8), rgba($clr-2, .8)), url($bg-2) no-repeat;
      background-size: cover;
      opacity: .5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
  }
}

.section--content {
  // border: 1px solid $border-color;
  padding: ($body-padding/2) 0;

  .public & {
    padding: ($body-padding/2);
    box-shadow: 0 5px 10px -3px rgba($black, .5);

    @include MQ(M ){
      box-shadow: none;
    }
  }

  @include MQ(L) {
    padding: initial;
    @include center;

    &.full--width {
      // width: calc(100% - #{$body-padding * 2});
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6,
    p, small {
      padding-right: $body-padding;
      padding-left: $body-padding;
    }

    &.cms {
      h1, h2, h3, h4, h5, h6,
      p {
        padding-left: initial;
        padding-right: initial;
      }
      p {
        font-size: .85rem;
      }
    }
  }

  @include MQ(M) {
    .right & {
      padding: ($body-padding/2);
      width: 90%;
      margin: auto;
    }
  }
}

@include MQ(M) {
  %quarter {
    height: calc(50vh - #{$body-padding});
    position: relative;
    width: 100%;
  }

  .page--quarter__top {
    border-bottom: 1px solid $border-color;
  }

  .page--quarter__top,
  .page--quarter__bottom {
    @extend %quarter !optional;
  }
}


.video--frame {
  background: $black;
  position: relative;
  // overflow: hidden;
  // margin-right: -$body-padding;

  // @include MQ(M) {
  //   transform: translateX(0) translateY(-2rem);
  // }
  .section--content {
    padding: 0;
  }
}