/* Force Hardware Acceleration */
%hardware {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.4s 0.4s;
}

body::after, body::before {
  /* these are the 2 half blocks which cover the content once the animation is triggered */
  content: '';
  height: 50vh;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: $white;
  z-index: 1;

  @extend %hardware;
}

body::before {
  top: 0;
  transform: translateY(-100%);
}
body::after {
  bottom: 0;
  transform: translateY(100%);
}

body.page-is-changing::after, body.page-is-changing::before {
  transform: translateY(0);
  transition: transform 0.4s 0s;
}


.cd-cover-layer {
  /* layer that covers the content when the animation is triggered */
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  opacity: 0;
  visibility: hidden;
  background-color: #4089a6;
  transition: opacity 0.4s 0.4s, visibility 0s 0.8s;

  .page-is-changing & {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
}
@media only screen and (min-width: 768px) {
  .cd-cover-layer {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }
}

.cd-loading-bar {
  /* this is the loding bar - visible while switching from one page to the following one */
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 90%;
  background-color: #4089a6;
  visibility: hidden;
  transition: visibility 0s 0.4s, transform 0.4s 0s ease-in;
  @extend %hardware;
}
.cd-about .cd-loading-bar {
  background-color: #283040;
}
.cd-about .cd-loading-bar::before {
  background-color: #4089a6;
}
.cd-loading-bar::before {
  /* this is the progress bar inside the loading bar */
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #283040;
  @extend %hardware;
}
.page-is-changing .cd-loading-bar {
  visibility: visible;
  transform: translateX(-50%) translateY(-50%) scaleX(0.3);
  transition: visibility 0s 0.3s, transform 0.4s 0.4s;
}
.page-is-changing .cd-loading-bar::before {
  transform: scaleX(1);
  transition: transform 0.8s 0.8s ease-in;
}
@media only screen and (min-width: 768px) {
  .cd-loading-bar {
    width: calc(100% - 40px);
  }
}











// *,
// :before,
// :after {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }
// .hide {
//   display: none;
// }
// .page__style {
//   background: #6d326d;
//   font-family: OpenSans-Regular, sans-serif;
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   margin: auto auto;
//   overflow: hidden;
// }
// .page__style .page__description {
//   color: #fff;
//   font-weight: 300;
//   text-align: center;
// }
// .page__style h1 {
//   font-weight: 300;
//   margin-top: 200px;
//   margin-bottom: 30px;
// }
// .page__style .btn_nav {
//   background: #002a32;
//   border-radius: 30px;
//   border: none;
//   color: #fff;
//   cursor: pointer;
//   font-family: inherit;
//   font-size: 15px;
//   font-weight: bold;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   margin-bottom: 20px;
//   padding: 17px 30px;
//   width: 146px;
// }
// .page__style .btn_nav:focus,
// .page__style .btn_nav:active {
//   outline: none;
// }
// .page__style a {
//   text-decoration: none;
//   color: #fff;
// }
// .page__style a:hover {
//   color: #ccc;
// }
// .animate_content {
//   animation: animate 3s ease;
// }
// .fadeIn {
//   z-index: 10;
// }
// /*  home
// -----------------------------------*/
// .home {
//   background: #5da9e9;
// }
// /*  Projects
// -----------------------------------*/
// .projects {
//   background: #bd5de9;
// }
// /*  Skills
// -----------------------------------*/
// .skills {
//   background: #5de974;
// }
// /*  About
// -----------------------------------*/
// .about {
//   background: #fb9b33;
// }
// /*  Contact
// -----------------------------------*/
// .contact {
//   background: #c9cdc0;
// }
// @media only screen and (max-width: 767px) {
//   .page__description h1 {
//     margin-top: 100px;
//   }
// }
// @-moz-keyframes animate {
//   10% {
//     transform: scale(1, 0.002);
//   }
//   35% {
//     transform: scale(0.2, 0.002);
//     opacity: 1;
//   }
//   50% {
//     transform: scale(0.2, 0.002);
//     opacity: 0;
//   }
//   85% {
//     transform: scale(1, 0.002);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(1, 1);
//   }
// }
// @-webkit-keyframes animate {
//   10% {
//     transform: scale(1, 0.002);
//   }
//   35% {
//     transform: scale(0.2, 0.002);
//     opacity: 1;
//   }
//   50% {
//     transform: scale(0.2, 0.002);
//     opacity: 0;
//   }
//   85% {
//     transform: scale(1, 0.002);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(1, 1);
//   }
// }
// @-o-keyframes animate {
//   10% {
//     transform: scale(1, 0.002);
//   }
//   35% {
//     transform: scale(0.2, 0.002);
//     opacity: 1;
//   }
//   50% {
//     transform: scale(0.2, 0.002);
//     opacity: 0;
//   }
//   85% {
//     transform: scale(1, 0.002);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(1, 1);
//   }
// }
// @keyframes animate {
//   10% {
//     transform: scale(1, 0.002);
//   }
//   35% {
//     transform: scale(0.2, 0.002);
//     opacity: 1;
//   }
//   50% {
//     transform: scale(0.2, 0.002);
//     opacity: 0;
//   }
//   85% {
//     transform: scale(1, 0.002);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(1, 1);
//   }
// }
