.tabs-menu.list-double {
  clear: both;

  li {
    width: initial;
    list-style: none;
    padding-left: 0;
    float: left;
    border: 0;
    white-space: nowrap;

    &.current {

      a {
        background-color: $white;
      }
    }

    a {
      color: $white;
      padding: 1rem 2rem;
      text-decoration: none;
      background-color: $color-1;
      border-radius: 5rem;

      &:hover {
        background: lighten($color-1, 10%);
      }
    }
  }
}

.tab-content {
  // display: block;
  width: 100%;
  display: none;
}

.selected {
  display: block;
}