.tabs-menu {
  width: 100%;
  text-align: center;
  padding-left: 0;
  font-size: 0; // remove space between li
  // overflow: initial;

  li {
    display: inline-block;
    font-size: initial; // add font size back for spacing
    margin-left: -2px;
    box-shadow: 0 1px 3px 0 rgba($black, 0.14);
    border-radius: 2px;
    // width: initial;
    // list-style: none;
    // padding-left: 0;
    // float: left;
    // border: 0;
    // white-space: nowrap;

    &.current {

    }
  }
}

.tab-content {
  width: 100%;
  display: none;
}

.selected {
  display: block;
}

.feature--btn {
  color: $white;
  padding: .75rem 1.5rem;
  // text-transform: capitalize;
  text-decoration: none;
  border: 2px solid transparent;
  background: $button-color;
  display: inline-block;
  // margin-bottom: 5px;
  line-height: 2rem;

  &:hover {
    background: lighten($public, 10%);
  }
}

.public {
  .feature--btn:hover {
    background: lighten($public, 10%);
  }

.tabs-menu   li.current a {
    background: $public;
  }
}
.academic {
  .feature--btn:hover {
    background: lighten($academic, 10%);
  }

  .tabs-menu li.current a {
    background: $academic;
  }
}
.hospital {
  .feature--btn:hover {
    background: lighten($hospital, 10%);
  }

  .tabs-menu li.current a {
    background: $hospital;
  }
}