.tabs-menu {
  width: 100%;
  text-align: center;
  padding-left: 0;
  font-size: 0; // remove space between li
  // overflow: initial;
  @include clearfix;

  li {
    display: block;
    font-size: initial; // add font size back for spacing
    box-sizing: border-box;
    float: left;
    white-space: nowrap;

    @include MQ(SO) {
      width: 50%;
    }

    &:last-of-type {
      display: block;
      width: 100%;

      @include MQ(M) {
        display: inline-block;
        width: initial;
      }
    }

    @include MQ(M) {
      float: none;
      display: inline-block;
      margin-left: -2px;
      // width: initial;
      // list-style: none;
      // padding-left: 0;
      // float: left;
      // border: 0;
      // white-space: nowrap;
      &.current {
      }
      @include MQ(L) {
        // box-shadow: 0 1px 3px 0 rgba($black, 0.14);
        border-radius: 2px;
      }
    }
  }
}

.tab-content {
  width: 100%;
  display: none;
}

.selected {
  display: block;
}

.feature--btn {
  color: $white;
  padding: .75rem 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid transparent;
  background: $button-color;
  display: block;
  // margin-bottom: 5px;
  line-height: 2rem;

  @include MQ(M) {
    display: block;
  }
  @include MQ(L) {
    display: inline-block;
  }


  &:hover {
    background: lighten($public, 10%);
  }
}

.public {
  .feature--btn:hover {
    background: lighten($public, 10%);
  }

.tabs-menu   li.current a {
    background: $public;
  }
}
.academic {
  .feature--btn:hover {
    background: lighten($academic, 10%);
  }

  .tabs-menu li.current a {
    background: $academic;
  }
}
.hospital {
  .feature--btn:hover {
    background: lighten($hospital, 10%);
  }

  .tabs-menu li.current a {
    background: $hospital;
  }
}