.feature--group,
#cms {

  h1, h2, h3, h4, h5, h6,
  p {
    padding-left: initial;
    padding-right: initial;
  }
  p {
    font-size: .85rem;
    line-height: 1.125rem;
    margin-top: 0;
  }
  h3 {
    // margin-top: 0;
    margin-bottom: 0;

    @include MQ(M) {
      margin-top: 0;
    }
  }
}

.icon-col {
  // border-radius: 50%;
  // max-width: 5%;
  margin-top: 1rem;
  float: right;

  img {
    max-width: 100%;
    // background-color: $color-1;
    // border-radius: 100%;
    // padding: 20%;
    height: 35px;
  }

  @include MQ(M) {
    display: block;
    width: 8%;
    float: left;
    margin-right: 2%;
    margin-top: 0;
    max-width: 100%;
  }
}

.feature-desc {
  border-bottom: 1px solid $border-color;
  padding: 0 0 1rem 0;

  @include MQ(M) {
    width: 90%;
    padding-left: 0;
    float: right;
    border-bottom: none;
    padding-bottom: initial;
  }
}