.price-table {
  background: $primary-color;
}

.pricing-table .bullet-item {
}
.pricing-table {
  margin-top: $site-border;
  @include clearfix;

  ul {
    width: 33.3333%;
    float: left;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    border-bottom: dotted 1px $button-color;
    font-size: 0.875rem;
    padding: 1rem;
    text-align: center;

    &:last-of-type {
      border-bottom: 0;
    }

    &.price-title {
      white-space: nowrap;
      background: $button-color;
      padding: 1rem 1.25rem;
      color: $white;
    }
  }
}