$body-padding:    3rem;
$site-border:     $body-padding;

// testing of images & color combos
$bg-1:          "../img/1.jpg";
$bg-2:          "../img/2.jpg";
$bg-3:          "../img/3.jpg";
$bg-4:          "../img/4.jpg";
$bg-5:          "../img/5.jpg";
$bg-6:          "../img/6.jpg";
$bg-7:          "../img/7.jpg";
$bg-8:          "../img/8.jpg";


// colors

$black:             #000;
$oil:               #333;
$almost-white:      #f7f7f7;
$white:             #fff;

$body-color:        $almost-white;
$stacks-logo-green: #69BD45;


$color-1:           #358399;
$color-2:           #009786;
$color-3:           #a3b4a2;
$color-4:           #364652;
$color-5:           #1f2421;
$color-6:           #2589bd;

// We use these as default colors throughout
$primary-color:     $color-1;
$secondary-color:   $oil;

$bg-image:      $bg-3;
$main-color:    $color-1;

// buttons
$button-color: #555;
$border-color: #ccc;

// tabbed buttons
$tabs-btn-number: 5;      // number of tab navigation links
$tabs-btn-height-S: 60px;   // tab buttons height on small devices
$tabs-btn-width-S: 60px;  // tab button width on small devices
$tabs-btn-height-M: 80px;   // tab buttons height on medium devices
$tabs-btn-width-M: 80px;  // tab button width on medium devices
$tabs-btn-height-L: 60px;   // tab buttons height on large devices
$tabs-btn-width-L: auto;  // tab button width on large devices

// verticals
$public:        $color-1;
$academic:      $color-2;
$hospital:      $color-3;
$bg-public:     $bg-1;
$bg-academic:   $bg-2;
$bg-hospital:   $bg-3;