@charset "utf-8";

// Google Font
// @import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic);

// FOUNDATION & NORMALIZE
// @import "vendors/foundation-settings"; // settings file from foundation
// @import "vendors/foundation";
@import "variables";

// UTILITIES
@import "utilities/custom-mixins";

// BASE
@import "base/typography";

// LAYOUTS
@import "layout/media-queries";
@import "layout/general";
@import "layout/page-division";
@import "layout/verticals";
// @import "layout/page-border";
// @import "layout/full-height";
// @import "layout/header";
// @import "layout/footer";

// COMPONENTS
@import "components/buttons";
@import "components/forms";
@import "components/lists";
@import "components/cards";
@import "components/features";
// @import "components/tabs";
@import "components/easy-tabs";
@import "components/icons";

// PAGES
// @import "pages/home";

// ANIMATION
// @import "animation/animated-page";



//  override browsersync popup
#__bs_notify__ {
  bottom: 0;
  left: 0;
  top: initial !important;
  border-radius: 0 !important;
  padding: initial !important;
}