@charset "utf-8";

// Google Font
// @import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic);

// FOUNDATION & NORMALIZE
@import "settings"; // settings file from foundation
//@import "vendors/foundation";

// UTILITIES
@import "utilities/custom-mixins";

// BASE
@import "base/typography";

// LAYOUTS
@import "layout/general";
// @import "layout/header";
// @import "layout/footer";

// COMPONENTS
// @import 'components/buttons';

// PAGES
// @import "pages/home";




//  override browsersync popup
#__bs_notify__ {
  bottom: 0;
  left: 0;
  top: initial !important;
  border-radius: 0 !important;
  padding: initial !important;
}