{% include header.html %}
{% comment %}
  {% include nav-data.html %}
{% endcomment %}

  <a href="/" class="home--link" data-type="page-transition">Stacks Library Search</a>

  <main class="cd-main-content">
    {% if page.url == "/index.html" %}
      <div class="verticals">
        <header>
          <img src="{{ site.baseurl }}img/stacks-logo.png" alt="Stacks">
          <h1>One Search, One Library</h1>
        </header>
        {{ content }}
        {% include logos.html %}

        {% else %}
          {{ content }}
      </div>
    {% endif %}
  </main>

{% include footer.html %}